@use 'variables' as * ; 
@use 'mixins' as *; 
@use 'themes' as *; 

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.text-enter-active,
.text-leave-active {
  transition: all 0.3s ease;
  display: inline-block; // <- Esto es clave para que funcione transform
}
.katex-html{
  display:none;
}
.text-enter-from,
.text-leave-to {
  transform: scale(0.8);
  opacity: 0.4;
}

.text-enter-to,
.text-leave-from {
  transform: scaleY(1);
  opacity: 1;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
  transition: all 0.2s ease;
        font-family: 'Courier New', monospace;
}

html,
body {
  min-height: 100vh;
  height: fit-content;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: $secondary-color-dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  transition: all 0.2s ease;
  
}

@include themify($themes) {
  body {
    background-color: themed(
      'background'
    ); 
    color: themed('text');
  }
}
/* Tipografía y elementos base */
body,
input,
button,
textarea {
  font-family: inherit;
  font-size: 1rem;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-user-drag: none;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

img,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
}

i {
  margin-right: 10px;
}

/* SCROLLBAR GENERAL PARA FIREFOX */

* {
  scrollbar-width: thin;
}
@include themify($themes) {

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    display: none;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: themed('text');
    border-radius: 999px;
    transition: background-color 0.3s ease;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: themed('scrollbar-thumb-hover');
  }
}